#root {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.answer-buttons-container {
  position: absolute;
  top: 70%;
  left: 75.5%;
  translate: -50% -50%;
}

.answer-pack-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.term-container-left {
  background-color: aqua;
}

.term-container-right {
  background-color: indianred;
}

.text-outline {
  text-shadow:
    2px 2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000,
    -2px -2px 2px #000;
}

.vs-icon-container {
  background-color: aliceblue;
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
}

.term-container-left,
.term-container-right {
  position: relative;
}

[class$="-button"] {
  width: 12rem;
}